schemas/0.0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="LengthKeyword">
        <xs:restriction base="xs:string">
            <xs:enumeration value="fill"/>
            <xs:enumeration value="shrink"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="LengthFunction">
        <xs:restriction base="xs:string">
            <xs:pattern value="fill-portion\(.+\)"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Length">
        <xs:union memberTypes="xs:float LengthKeyword LengthFunction"/>
    </xs:simpleType>

    <xs:simpleType name="HorizontalKeyword">
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="right"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Horizontal">
        <xs:union memberTypes="HorizontalKeyword"/>
    </xs:simpleType>

    <xs:simpleType name="VerticalKeyword">
        <xs:restriction base="xs:string">
            <xs:enumeration value="top"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="bottom"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Vertical">
        <xs:union memberTypes="VerticalKeyword"/>
    </xs:simpleType>

    <xs:simpleType name="LineHeightFunction">
        <xs:restriction base="xs:string">
            <xs:pattern value="relative\(.+\)"/>
            <xs:pattern value="absolute\(.+\)"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="LineHeight">
        <xs:union memberTypes="LineHeightFunction"/>
    </xs:simpleType>

    <xs:simpleType name="AlignmentKeyword">
        <xs:restriction base="xs:string">
            <xs:enumeration value="default"/>
            <xs:enumeration value="left"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="right"/>
            <xs:enumeration value="justified"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Alignment">
        <xs:union memberTypes="AlignmentKeyword"/>
    </xs:simpleType>

    <xs:simpleType name="ShapingKeyword">
        <xs:restriction base="xs:string">
            <xs:enumeration value="auto"/>
            <xs:enumeration value="basic"/>
            <xs:enumeration value="advanced"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Shaping">
        <xs:union memberTypes="ShapingKeyword"/>
    </xs:simpleType>

    <xs:simpleType name="WrappingKeyword">
        <xs:restriction base="xs:string">
            <xs:enumeration value="none"/>
            <xs:enumeration value="word"/>
            <xs:enumeration value="glyph"/>
            <xs:enumeration value="word-or-glyph"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Wrapping">
        <xs:union memberTypes="WrappingKeyword"/>
    </xs:simpleType>

    <xs:simpleType name="FontWeight">
        <xs:restriction base="xs:string">
            <xs:enumeration value="thin"/>
            <xs:enumeration value="extra-light"/>
            <xs:enumeration value="light"/>
            <xs:enumeration value="normal"/>
            <xs:enumeration value="medium"/>
            <xs:enumeration value="semibold"/>
            <xs:enumeration value="bold"/>
            <xs:enumeration value="extra-bold"/>
            <xs:enumeration value="black"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FontStretch">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ultra-condensed"/>
            <xs:enumeration value="extra-condensed"/>
            <xs:enumeration value="condensed"/>
            <xs:enumeration value="semi-condensed"/>
            <xs:enumeration value="normal"/>
            <xs:enumeration value="semi-expanded"/>
            <xs:enumeration value="expanded"/>
            <xs:enumeration value="extra-expanded"/>
            <xs:enumeration value="ultra-expanded"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FontStyle">
        <xs:restriction base="xs:string">
            <xs:enumeration value="normal"/>
            <xs:enumeration value="italic"/>
            <xs:enumeration value="oblique"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="container">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="container"/>
                <xs:element ref="text"/>
                <xs:element ref="row"/>
                <xs:element ref="column"/>
                <xs:element ref="button"/>
                <xs:element ref="stack"/>
                <xs:element ref="checkbox"/>
                <xs:element ref="space"/>
                <xs:element ref="text-input"/>
                <xs:element ref="if"/>
                <xs:element ref="foreach"/>
            </xs:choice>
            <xs:attribute name="id" type="xs:string" use="optional"/>
            <xs:attribute name="padding" type="xs:float" use="optional"/>
            <xs:attribute name="padding-top" type="xs:float" use="optional"/>
            <xs:attribute name="padding-right" type="xs:float" use="optional"/>
            <xs:attribute name="padding-bottom" type="xs:float" use="optional"/>
            <xs:attribute name="padding-left" type="xs:float" use="optional"/>
            <xs:attribute name="width" type="Length" use="optional"/>
            <xs:attribute name="height" type="Length" use="optional"/>
            <xs:attribute name="max-width" type="xs:float" use="optional"/>
            <xs:attribute name="max-height" type="xs:float" use="optional"/>
            <xs:attribute name="center-x" type="Length" use="optional"/>
            <xs:attribute name="center-y" type="Length" use="optional"/>
            <xs:attribute name="center" type="Length" use="optional"/>
            <xs:attribute name="align-left" type="Length" use="optional"/>
            <xs:attribute name="align-right" type="Length" use="optional"/>
            <xs:attribute name="align-top" type="Length" use="optional"/>
            <xs:attribute name="align-bottom" type="Length" use="optional"/>
            <xs:attribute name="align-x" type="Horizontal" use="optional"/>
            <xs:attribute name="align-y" type="Vertical" use="optional"/>
            <xs:attribute name="clip" type="xs:boolean" use="optional"/>
            <xs:attribute name="style" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="text">
        <xs:complexType mixed="true">
            <xs:attribute name="size" type="xs:float" use="optional"/>
            <xs:attribute name="line-height" type="LineHeight" use="optional"/>
            <xs:attribute name="font" type="xs:string" use="optional"/>
            <xs:attribute name="width" type="Length" use="optional"/>
            <xs:attribute name="height" type="Length" use="optional"/>
            <xs:attribute name="align-x" type="Alignment" use="optional"/>
            <xs:attribute name="align-y" type="Vertical" use="optional"/>
            <xs:attribute name="style" type="xs:string" use="optional"/>
            <xs:attribute name="color" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="row">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="container"/>
                <xs:element ref="text"/>
                <xs:element ref="row"/>
                <xs:element ref="column"/>
                <xs:element ref="button"/>
                <xs:element ref="stack"/>
                <xs:element ref="checkbox"/>
                <xs:element ref="space"/>
                <xs:element ref="text-input"/>
                <xs:element ref="if"/>
                <xs:element ref="foreach"/>
            </xs:choice>
            <xs:attribute name="spacing" type="xs:float" use="optional"/>
            <xs:attribute name="padding" type="xs:float" use="optional"/>
            <xs:attribute name="padding-top" type="xs:float" use="optional"/>
            <xs:attribute name="padding-right" type="xs:float" use="optional"/>
            <xs:attribute name="padding-bottom" type="xs:float" use="optional"/>
            <xs:attribute name="padding-left" type="xs:float" use="optional"/>
            <xs:attribute name="width" type="Length" use="optional"/>
            <xs:attribute name="height" type="Length" use="optional"/>
            <xs:attribute name="align-y" type="Vertical" use="optional"/>
            <xs:attribute name="clip" type="xs:boolean" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="column">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="container"/>
                <xs:element ref="text"/>
                <xs:element ref="row"/>
                <xs:element ref="column"/>
                <xs:element ref="button"/>
                <xs:element ref="stack"/>
                <xs:element ref="checkbox"/>
                <xs:element ref="space"/>
                <xs:element ref="text-input"/>
                <xs:element ref="if"/>
                <xs:element ref="foreach"/>
            </xs:choice>
            <xs:attribute name="spacing" type="xs:float" use="optional"/>
            <xs:attribute name="padding" type="xs:float" use="optional"/>
            <xs:attribute name="padding-top" type="xs:float" use="optional"/>
            <xs:attribute name="padding-right" type="xs:float" use="optional"/>
            <xs:attribute name="padding-bottom" type="xs:float" use="optional"/>
            <xs:attribute name="padding-left" type="xs:float" use="optional"/>
            <xs:attribute name="width" type="Length" use="optional"/>
            <xs:attribute name="height" type="Length" use="optional"/>
            <xs:attribute name="max-width" type="xs:float" use="optional"/>
            <xs:attribute name="align-x" type="Horizontal" use="optional"/>
            <xs:attribute name="clip" type="xs:boolean" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="button">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="container"/>
                <xs:element ref="text"/>
                <xs:element ref="row"/>
                <xs:element ref="column"/>
                <xs:element ref="button"/>
                <xs:element ref="stack"/>
                <xs:element ref="checkbox"/>
                <xs:element ref="space"/>
                <xs:element ref="text-input"/>
                <xs:element ref="if"/>
                <xs:element ref="foreach"/>
            </xs:choice>
            <xs:attribute name="width" type="Length" use="optional"/>
            <xs:attribute name="height" type="Length" use="optional"/>
            <xs:attribute name="padding" type="xs:float" use="optional"/>
            <xs:attribute name="padding-top" type="xs:float" use="optional"/>
            <xs:attribute name="padding-right" type="xs:float" use="optional"/>
            <xs:attribute name="padding-bottom" type="xs:float" use="optional"/>
            <xs:attribute name="padding-left" type="xs:float" use="optional"/>
            <xs:attribute name="on-press" type="xs:string" use="optional"/>
            <xs:attribute name="on-press-with" type="xs:string" use="optional"/>
            <xs:attribute name="on-press-maybe" type="xs:string" use="optional"/>
            <xs:attribute name="clip" type="xs:boolean" use="optional"/>
            <xs:attribute name="style" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="stack">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="container"/>
                <xs:element ref="text"/>
                <xs:element ref="row"/>
                <xs:element ref="column"/>
                <xs:element ref="button"/>
                <xs:element ref="stack"/>
                <xs:element ref="checkbox"/>
                <xs:element ref="space"/>
                <xs:element ref="text-input"/>
                <xs:element ref="if"/>
                <xs:element ref="foreach"/>
            </xs:choice>
            <xs:attribute name="width" type="Length" use="optional"/>
            <xs:attribute name="height" type="Length" use="optional"/>
            <xs:attribute name="clip" type="xs:boolean" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="checkbox">
        <xs:complexType mixed="true">
            <xs:attribute name="is-checked" type="xs:string" use="required"/>
            <xs:attribute name="on-toggle" type="xs:string" use="optional"/>
            <xs:attribute name="on-toggle-maybe" type="xs:string" use="optional"/>
            <xs:attribute name="size" type="xs:float" use="optional"/>
            <xs:attribute name="width" type="Length" use="optional"/>
            <xs:attribute name="spacing" type="xs:float" use="optional"/>
            <xs:attribute name="text-size" type="xs:float" use="optional"/>
            <xs:attribute name="text-line-height" type="LineHeight" use="optional"/>
            <xs:attribute name="text-shaping" type="Shaping" use="optional"/>
            <xs:attribute name="text-wrapping" type="Wrapping" use="optional"/>
            <xs:attribute name="font" type="xs:string" use="optional"/>
            <xs:attribute name="style" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="space">
        <xs:complexType>
            <xs:attribute name="width" type="Length" use="optional"/>
            <xs:attribute name="height" type="Length" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="text-input">
        <xs:complexType>
            <xs:attribute name="placeholder" type="xs:string" use="required"/>
            <xs:attribute name="value" type="xs:string" use="required"/>
            <xs:attribute name="id" type="xs:string" use="optional"/>
            <xs:attribute name="secure" type="xs:boolean" use="optional"/>
            <xs:attribute name="on-input" type="xs:string" use="optional"/>
            <xs:attribute name="on-submit" type="xs:string" use="optional"/>
            <xs:attribute name="on-submit-maybe" type="xs:string" use="optional"/>
            <xs:attribute name="on-paste" type="xs:string" use="optional"/>
            <xs:attribute name="font" type="xs:string" use="optional"/>
            <xs:attribute name="width" type="Length" use="optional"/>
            <xs:attribute name="padding" type="xs:float" use="optional"/>
            <xs:attribute name="padding-top" type="xs:float" use="optional"/>
            <xs:attribute name="padding-right" type="xs:float" use="optional"/>
            <xs:attribute name="padding-bottom" type="xs:float" use="optional"/>
            <xs:attribute name="padding-left" type="xs:float" use="optional"/>
            <xs:attribute name="size" type="xs:float" use="optional"/>
            <xs:attribute name="line-height" type="LineHeight" use="optional"/>
            <xs:attribute name="align-x" type="Horizontal" use="optional"/>
            <xs:attribute name="style" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="if">
        <xs:complexType>
            <xs:all>
                <xs:element name="true" minOccurs="1">
                    <xs:complexType>
                        <xs:choice>
                            <xs:element ref="container"/>
                            <xs:element ref="text"/>
                            <xs:element ref="row"/>
                            <xs:element ref="column"/>
                            <xs:element ref="button"/>
                            <xs:element ref="stack"/>
                            <xs:element ref="checkbox"/>
                            <xs:element ref="space"/>
                            <xs:element ref="text-input"/>
                            <xs:element ref="if"/>
                            <xs:element ref="foreach"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="false" minOccurs="0">
                    <xs:complexType>
                        <xs:choice>
                            <xs:element ref="container"/>
                            <xs:element ref="text"/>
                            <xs:element ref="row"/>
                            <xs:element ref="column"/>
                            <xs:element ref="button"/>
                            <xs:element ref="stack"/>
                            <xs:element ref="checkbox"/>
                            <xs:element ref="space"/>
                            <xs:element ref="text-input"/>
                            <xs:element ref="if"/>
                            <xs:element ref="foreach"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
            </xs:all>
            <xs:attribute name="condition" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="foreach">
        <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="1">
                <xs:element ref="container"/>
                <xs:element ref="text"/>
                <xs:element ref="row"/>
                <xs:element ref="column"/>
                <xs:element ref="button"/>
                <xs:element ref="stack"/>
                <xs:element ref="checkbox"/>
                <xs:element ref="space"/>
                <xs:element ref="text-input"/>
                <xs:element ref="if"/>
                <xs:element ref="foreach"/>
            </xs:choice>
            <xs:attribute name="iterable" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="font">
        <xs:complexType>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="family" type="xs:string" use="optional"/>
            <xs:attribute name="weight" type="FontWeight" use="optional"/>
            <xs:attribute name="stretch" type="FontStretch" use="optional"/>
            <xs:attribute name="style" type="FontStyle" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="container-style">
        <xs:complexType>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="text-color" type="xs:string" use="optional"/>
            <xs:attribute name="background-color" type="xs:string" use="optional"/>
            <xs:attribute name="background-gradient" type="xs:string" use="optional"/>
            <xs:attribute name="border-color" type="xs:string" use="optional"/>
            <xs:attribute name="border-width" type="xs:float" use="optional"/>
            <xs:attribute name="border-radius" type="xs:float" use="optional"/>
            <xs:attribute name="border-radius-top-left" type="xs:float" use="optional"/>
            <xs:attribute name="border-radius-top-right" type="xs:float" use="optional"/>
            <xs:attribute name="border-radius-bottom-right" type="xs:float" use="optional"/>
            <xs:attribute name="border-radius-bottom-left" type="xs:float" use="optional"/>
            <xs:attribute name="shadow-color" type="xs:string" use="optional"/>
            <xs:attribute name="shadow-offset-x" type="xs:float" use="optional"/>
            <xs:attribute name="shadow-offset-y" type="xs:float" use="optional"/>
            <xs:attribute name="shadow-blur-radius" type="xs:float" use="optional"/>
            <xs:attribute name="snap" type="xs:boolean" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="text-style">
        <xs:complexType>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="color" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="button-style">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="active">
                    <xs:complexType>
                        <xs:attribute name="background-color" type="xs:string" use="optional"/>
                        <xs:attribute name="background-gradient" type="xs:string" use="optional"/>
                        <xs:attribute name="text-color" type="xs:string" use="optional"/>
                        <xs:attribute name="border-color" type="xs:string" use="optional"/>
                        <xs:attribute name="border-width" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-top-left" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-top-right" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-bottom-right" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-bottom-left" type="xs:float" use="optional"/>
                        <xs:attribute name="shadow-color" type="xs:string" use="optional"/>
                        <xs:attribute name="shadow-offset-x" type="xs:float" use="optional"/>
                        <xs:attribute name="shadow-offset-y" type="xs:float" use="optional"/>
                        <xs:attribute name="shadow-blur-radius" type="xs:float" use="optional"/>
                        <xs:attribute name="snap" type="xs:boolean" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="hovered">
                    <xs:complexType>
                        <xs:attribute name="background-color" type="xs:string" use="optional"/>
                        <xs:attribute name="background-gradient" type="xs:string" use="optional"/>
                        <xs:attribute name="text-color" type="xs:string" use="optional"/>
                        <xs:attribute name="border-color" type="xs:string" use="optional"/>
                        <xs:attribute name="border-width" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-top-left" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-top-right" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-bottom-right" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-bottom-left" type="xs:float" use="optional"/>
                        <xs:attribute name="shadow-color" type="xs:string" use="optional"/>
                        <xs:attribute name="shadow-offset-x" type="xs:float" use="optional"/>
                        <xs:attribute name="shadow-offset-y" type="xs:float" use="optional"/>
                        <xs:attribute name="shadow-blur-radius" type="xs:float" use="optional"/>
                        <xs:attribute name="snap" type="xs:boolean" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="pressed">
                    <xs:complexType>
                        <xs:attribute name="background-color" type="xs:string" use="optional"/>
                        <xs:attribute name="background-gradient" type="xs:string" use="optional"/>
                        <xs:attribute name="text-color" type="xs:string" use="optional"/>
                        <xs:attribute name="border-color" type="xs:string" use="optional"/>
                        <xs:attribute name="border-width" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-top-left" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-top-right" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-bottom-right" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-bottom-left" type="xs:float" use="optional"/>
                        <xs:attribute name="shadow-color" type="xs:string" use="optional"/>
                        <xs:attribute name="shadow-offset-x" type="xs:float" use="optional"/>
                        <xs:attribute name="shadow-offset-y" type="xs:float" use="optional"/>
                        <xs:attribute name="shadow-blur-radius" type="xs:float" use="optional"/>
                        <xs:attribute name="snap" type="xs:boolean" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="disabled">
                    <xs:complexType>
                        <xs:attribute name="background-color" type="xs:string" use="optional"/>
                        <xs:attribute name="background-gradient" type="xs:string" use="optional"/>
                        <xs:attribute name="text-color" type="xs:string" use="optional"/>
                        <xs:attribute name="border-color" type="xs:string" use="optional"/>
                        <xs:attribute name="border-width" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-top-left" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-top-right" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-bottom-right" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-bottom-left" type="xs:float" use="optional"/>
                        <xs:attribute name="shadow-color" type="xs:string" use="optional"/>
                        <xs:attribute name="shadow-offset-x" type="xs:float" use="optional"/>
                        <xs:attribute name="shadow-offset-y" type="xs:float" use="optional"/>
                        <xs:attribute name="shadow-blur-radius" type="xs:float" use="optional"/>
                        <xs:attribute name="snap" type="xs:boolean" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="background-color" type="xs:string" use="optional"/>
            <xs:attribute name="background-gradient" type="xs:string" use="optional"/>
            <xs:attribute name="text-color" type="xs:string" use="optional"/>
            <xs:attribute name="border-color" type="xs:string" use="optional"/>
            <xs:attribute name="border-width" type="xs:float" use="optional"/>
            <xs:attribute name="border-radius" type="xs:float" use="optional"/>
            <xs:attribute name="border-radius-top-left" type="xs:float" use="optional"/>
            <xs:attribute name="border-radius-top-right" type="xs:float" use="optional"/>
            <xs:attribute name="border-radius-bottom-right" type="xs:float" use="optional"/>
            <xs:attribute name="border-radius-bottom-left" type="xs:float" use="optional"/>
            <xs:attribute name="shadow-color" type="xs:string" use="optional"/>
            <xs:attribute name="shadow-offset-x" type="xs:float" use="optional"/>
            <xs:attribute name="shadow-offset-y" type="xs:float" use="optional"/>
            <xs:attribute name="shadow-blur-radius" type="xs:float" use="optional"/>
            <xs:attribute name="snap" type="xs:boolean" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="checkbox-style">
        <xs:complexType>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="background-color" type="xs:string" use="optional"/>
            <xs:attribute name="background-gradient" type="xs:string" use="optional"/>
            <xs:attribute name="icon-color" type="xs:string" use="optional"/>
            <xs:attribute name="border-color" type="xs:string" use="optional"/>
            <xs:attribute name="border-width" type="xs:float" use="optional"/>
            <xs:attribute name="border-radius" type="xs:float" use="optional"/>
            <xs:attribute name="border-radius-top-left" type="xs:float" use="optional"/>
            <xs:attribute name="border-radius-top-right" type="xs:float" use="optional"/>
            <xs:attribute name="border-radius-bottom-right" type="xs:float" use="optional"/>
            <xs:attribute name="border-radius-bottom-left" type="xs:float" use="optional"/>
            <xs:attribute name="text-color" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="text-input-style">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="active">
                    <xs:complexType>
                        <xs:attribute name="background-color" type="xs:string" use="optional"/>
                        <xs:attribute name="background-gradient" type="xs:string" use="optional"/>
                        <xs:attribute name="border-color" type="xs:string" use="optional"/>
                        <xs:attribute name="border-width" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-top-left" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-top-right" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-bottom-right" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-bottom-left" type="xs:float" use="optional"/>
                        <xs:attribute name="icon" type="xs:string" use="optional"/>
                        <xs:attribute name="placeholder" type="xs:string" use="optional"/>
                        <xs:attribute name="value" type="xs:string" use="optional"/>
                        <xs:attribute name="selection" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="hovered">
                    <xs:complexType>
                        <xs:attribute name="background-color" type="xs:string" use="optional"/>
                        <xs:attribute name="background-gradient" type="xs:string" use="optional"/>
                        <xs:attribute name="border-color" type="xs:string" use="optional"/>
                        <xs:attribute name="border-width" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-top-left" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-top-right" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-bottom-right" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-bottom-left" type="xs:float" use="optional"/>
                        <xs:attribute name="icon" type="xs:string" use="optional"/>
                        <xs:attribute name="placeholder" type="xs:string" use="optional"/>
                        <xs:attribute name="value" type="xs:string" use="optional"/>
                        <xs:attribute name="selection" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="disabled">
                    <xs:complexType>
                        <xs:attribute name="background-color" type="xs:string" use="optional"/>
                        <xs:attribute name="background-gradient" type="xs:string" use="optional"/>
                        <xs:attribute name="border-color" type="xs:string" use="optional"/>
                        <xs:attribute name="border-width" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-top-left" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-top-right" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-bottom-right" type="xs:float" use="optional"/>
                        <xs:attribute name="border-radius-bottom-left" type="xs:float" use="optional"/>
                        <xs:attribute name="icon" type="xs:string" use="optional"/>
                        <xs:attribute name="placeholder" type="xs:string" use="optional"/>
                        <xs:attribute name="value" type="xs:string" use="optional"/>
                        <xs:attribute name="selection" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="background-color" type="xs:string" use="optional"/>
            <xs:attribute name="background-gradient" type="xs:string" use="optional"/>
            <xs:attribute name="border-color" type="xs:string" use="optional"/>
            <xs:attribute name="border-width" type="xs:float" use="optional"/>
            <xs:attribute name="border-radius" type="xs:float" use="optional"/>
            <xs:attribute name="border-radius-top-left" type="xs:float" use="optional"/>
            <xs:attribute name="border-radius-top-right" type="xs:float" use="optional"/>
            <xs:attribute name="border-radius-bottom-right" type="xs:float" use="optional"/>
            <xs:attribute name="border-radius-bottom-left" type="xs:float" use="optional"/>
            <xs:attribute name="icon" type="xs:string" use="optional"/>
            <xs:attribute name="placeholder" type="xs:string" use="optional"/>
            <xs:attribute name="value" type="xs:string" use="optional"/>
            <xs:attribute name="selection" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="root">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="container"/>
                <xs:element ref="text"/>
                <xs:element ref="row"/>
                <xs:element ref="column"/>
                <xs:element ref="button"/>
                <xs:element ref="stack"/>
                <xs:element ref="checkbox"/>
                <xs:element ref="space"/>
                <xs:element ref="text-input"/>
                <xs:element ref="if"/>
                <xs:element ref="foreach"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="styles">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="container-style"/>
                <xs:element ref="text-style"/>
                <xs:element ref="button-style"/>
                <xs:element ref="checkbox-style"/>
                <xs:element ref="text-input-style"/>
                <xs:element ref="font"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="layout">
        <xs:complexType>
            <xs:all>
                <xs:element ref="root"/>
                <xs:element ref="styles" minOccurs="0"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>
